<header class="flex">
  <h1>Welcome to {{ title }}!</h1>
</header>
<main>
  <ngx-date-input [formControl]="ctrl" [options]="options1">
    <img src="*">
  </ngx-date-input>
  <ngx-date-input [formControl]="ctrl" [options]="options2"></ngx-date-input>
  <ngx-date-input [formControl]="ctrl" [options]="options3"></ngx-date-input>
  <ngx-date-input [formControl]="ctrl" [options]="options4"></ngx-date-input>
</main>

<form [formGroup]="form">
  <formly-form [form]="form" [fields]="fields" [model]="model"></formly-form>
</form>